<?xml version="1.0" ?>
<launch>
  <arg name="path" default="empty_room_big/stl" />

  <arg name="param_file" default="$(find stl_exploration)/config/$(arg path).yaml" />


  <group ns="stl_aeplanner">
    <node pkg="tf2_ros" type="static_transform_publisher" name="primesense_broadcaster" args="0.05 0 0.13 -1.57079633 0 -1.57079633 base_link camera_link" />

    <include file="$(find stl_aeplanner)/launch/stl_aeplanner_nodelet.launch"/>
    <include file="$(find stl_exploration)/launch/fly_to.launch"/>
    <include file="$(find stl_exploration)/launch/octomap_server.launch"/>
    <include file="$(find stl_frontier_planner)/launch/stl_frontier_planner.launch">
      <arg name="path" value="$(arg path)" />
      <arg name="param_file" value="$(arg param_file)" />
    </include>
    <include file="$(find pigain)/launch/pig_cpp.launch" />

    <node name="stl_exploration" pkg="stl_exploration" type="stl_exploration" output="screen" />
    <rosparam command="load" file="$(arg param_file)" />
  </group>

  <!-- Increase Mavros publishing frequency -->
  <!-- <node name="mavros_mavcmd" pkg="mavros" type="mavcmd" args="-n /mavros long 511 32 100000 0 0 0 0 0" /> -->

  <!-- Nodelet manager for camera-->
  <node pkg="nodelet" type="nodelet" args="manager"
name="camera_manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="image_to_points" args="load depth_image_proc/point_cloud_xyz camera_manager --no-bond">
    <remap from="camera_info" to="/virtual_camera/depth/camera_info" />
    <remap from="image_rect" to="/virtual_camera/depth/image_raw" />
    <remap from="points" to="/virtual_camera/depth/points" />
    <param name="queue_size" value="100" />
  </node>

  <node pkg="stl_exploration" type="image_maxing.py" name="image_maxing" output="screen" />

  <node pkg="stl_evaluation" type="stl_evaluation_node" name="stl_evaluation_node" output="screen" required="true">
    <rosparam command="load" file="$(arg param_file)" />
  </node>

  
  <node pkg="rosbag" type="record" name="rosbag_record" output="screen" args="--lz4 -a -o /home/dduberg/ros_ws/catkin_ws/src/stl_aep/stl_evaluation/rosbags/$(arg path) -x '/camera/(.*)|/virtual_camera/(.*)|/scan|/stl_aeplanner/octomap_binary'"/>

</launch>
